# Practice Questions

##### 1.
Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:

a. Print the third item in the tuple.

b. Print the length of the tuple.

c. Check if "pear" is in the tuple.

d. Concatenate the tuple with itself and print the result.

##### 2.
Create two tuples named tuple1 and tuple2 that contain the following values: 1, 2, 3, and 4. Then, perform the following operations:

a. Add the two tuples together and print the result.

b. Multiply tuple1 by 3 and print the result.

c. Find the index of the value 3 in tuple2 and print the result.

##### 3.
Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:

a. Convert the tuple to a list and store it in a variable named my_list.

b. Sort my_list in descending order and print the result.

c. Convert my_list back to a tuple and print the result.


##### 4.
Create a tuple named student_tuples that contains several tuples, where each tuple represents a student and has the following elements: the student's name (a string), their grade point average (a float), and their major (a string). Then, perform the following operations:

a. Sort the tuple by the students' grade point averages, from highest to lowest.

b. Use a list comprehension to create a list of the majors of the students whose grade point averages are above 3.5.

c. Use the filter() function to create a new tuple that contains only the students who are majoring in computer science.

##### 5.
Create a tuple named my_tuple that contains the following values: 1, 2, 3, 4, 5, 6, and 7. Then, perform the following operations:

a. Use the map() function to create a new tuple that contains the squares of the values in my_tuple.

b. Use the reduce() function to find the product of the values in my_tuple.

c. Use a list comprehension to create a list of the even values in my_tuple.

##### 6.
Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:

a. Use the zip() function to create a new tuple that pairs each element in my_tuple with its index in the tuple.

b. Use a list comprehension to create a list of tuples, where each tuple has the first letter of an element in my_tuple and its index in the tuple.

c. Use the filter() function to create a new tuple that contains only the elements in my_tuple that have an odd length.

##### 7.
You have a list of tuples, where each tuple contains a person's name and their birth year. For example: people = [('Alice', 1980), ('Bob', 1975), ('Charlie', 1990), ('David', 1985)]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with the birth years replaced by the person's age (as of the current year).

##### 8.
You are given a list of tuples, where each tuple contains the name of a city and its population. For example: cities = [('New York', 8000000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000), ('Phoenix', 1600000)]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but sorted by population (in descending order).

##### 9.
You are given a list of tuples, where each tuple contains a person's name and a list of their grades. For example: students = [('Alice', [85, 90, 95]), ('Bob', [75, 80, 85]), ('Charlie', [90, 95, 100]), ('David', [80, 85, 90])]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with an additional element in each tuple that contains the person's average grade.

##### 10.
You are given a list of tuples, where each tuple contains the name of a company and its stock price for each day of a given week. For example: companies = [('Apple', [142, 141, 144, 142, 141]), ('Microsoft', [246, 245, 247, 248, 245]), ('Amazon', [3270, 3255, 3265, 3250, 3275])]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with an additional element in each tuple that contains the average stock price for the week.

##### 11.
You are given a list of tuples, where each tuple contains the name of a country and its capital city. For example: countries = [('United States', 'Washington, D.C.'), ('Canada', 'Ottawa'), ('Mexico', 'Mexico City'), ('Brazil', 'Brasília'), ('Argentina', 'Buenos Aires')]. Write a function that takes this list of tuples as input and returns a dictionary where the keys are the names of the countries and the values are the names of the capital cities.

In [4]:
# 1.Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:
#a. Print the third item in the tuple.
#b. Print the length of the tuple.
#c. Check if "pear" is in the tuple.'"

#Solution
# Create tuple
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Print third item
print(my_tuple[2])

# Print length of tuple
print(len(my_tuple))

# Check if "pear" is in the tuple
print("pear" in my_tuple)

# Concatenate tuple with itself and print result
print(my_tuple + my_tuple)

cherry
5
False
('apple', 'banana', 'cherry', 'date', 'elderberry', 'apple', 'banana', 'cherry', 'date', 'elderberry')

In [5]:
#2.Create two tuples named tuple1 and tuple2 that contain the following values: 1, 2, 3, and 4. Then, perform the following operations:
#a. Add the two tuples together and print the result.
#b. Multiply tuple1 by 3 and print the result.
#c. Find the index of the value 3 in tuple2 and print the result.

# Create tuples
tuple1 = (1, 2, 3, 4)
tuple2 = (1, 2, 3, 4)

# Add the two tuples and print result
print(tuple1 + tuple2)

# Multiply tuple1 by 3 and print the result
print(tuple1 * 3)

# Find the index of the value 3 in tuple2 and print the result
print(tuple2.index(3))

(1, 2, 3, 4, 1, 2, 3, 4)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
2

In [6]:
#3.Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:
#a. Convert the tuple to a list and store it in a variable named my_list.
#b. Sort my_list in descending order and print the result.
#c. Convert my_list back to a tuple and print the result.

# Create tuple
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Convert tuple to list
my_list = list(my_tuple)

# Sort my_list in descending order and print the result
my_list.sort(reverse=True)
print(my_list)

# Convert my_list back to tuple and print the result
my_tuple = tuple(my_list)
print(my_tuple)

['elderberry', 'date', 'cherry', 'banana', 'apple']
('elderberry', 'date', 'cherry', 'banana', 'apple')

In [7]:
##4.Create a tuple named student_tuples that contains several tuples, where each tuple represents a student and has the following elements: the student's name (a string), their grade point average (a float), and their major (a string). Then, perform the following operations:
#a. Sort the tuple by the students' grade point averages, from highest to lowest.
#b. Use a list comprehension to create a list of the majors of the students whose grade point averages are above 3.5.
#c. Use the filter() function to create a new tuple that contains only the students who are majoring in computer science.

# Create tuple of student tuples
student_tuples = (("Alice", 3.7, "Computer Science"),
                  ("Bob", 2.9, "Mathematics"),
                  ("Charlie", 4.0, "Computer Science"),
                  ("David", 3.5, "Computer Science"))

# Sort tuple by students' grade point averages, from highest to lowest
sorted_tuples = sorted(student_tuples, key=lambda x: x[1], reverse=True)
print(sorted_tuples)

# Create list of majors of students whose GPAs are above 3.5
majors_above_3_5 = [x[2] for x in student_tuples if x[1] > 3.5]
print(majors_above_3_5)

# Create new tuple that contains only students majoring in computer science
cs_students = tuple(filter(lambda x: x[2] == "Computer Science", student_tuples))
print(cs_students)

[('Charlie', 4.0, 'Computer Science'), ('Alice', 3.7, 'Computer Science'), ('David', 3.5, 'Computer Science'), ('Bob', 2.9, 'Mathematics')]
['Computer Science', 'Computer Science']
(('Alice', 3.7, 'Computer Science'), ('Charlie', 4.0, 'Computer Science'), ('David', 3.5, 'Computer Science'))

In [8]:
#5.Create a tuple named my_tuple that contains the following values: 1, 2, 3, 4, 5, 6, and 7. Then, perform the following operations:
#a. Use the map() function to create a new tuple that contains the squares of the values in my_tuple.
#b. Use the reduce() function to find the product of the values in my_tuple.
#c. Use a list comprehension to create a list of the even values in my_tuple.

# Create tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7)

# Use map() to create a new tuple that contains the squares of the values in my_tuple
squares = tuple(map(lambda x: x**2, my_tuple))
print(squares)

# Use reduce() to find the product of the values in my_tuple
from functools import reduce
product = reduce(lambda x, y: x*y, my_tuple)
print(product)

# Use a list comprehension to create a list of the even values in my_tuple
evens = [x for x in my_tuple if x % 2 == 0]
print(evens)

(1, 4, 9, 16, 25, 36, 49)
5040
[2, 4, 6]

In [9]:
#6.Create a tuple named my_tuple that contains the following values: "apple", "banana", "cherry", "date", and "elderberry". Then, perform the following operations:
#a. Use the zip() function to create a new tuple that pairs each element in my_tuple with its index in the tuple.
#b. Use a list comprehension to create a list of tuples, where each tuple has the first letter of an element in my_tuple and its index in the tuple.
#c. Use the filter() function to create a new tuple that contains only the elements in my_tuple that have an odd length.

# Create tuple
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# (a) Use zip() function to pair each element with its index
new_tuple = tuple(zip(my_tuple, range(len(my_tuple))))

# (b) Use list comprehension to create list of tuples with first letter and index
new_list = [(my_tuple[i][0], i) for i in range(len(my_tuple))]

# (c) Use filter() function to create tuple with elements of odd length
odd_length_tuple = tuple(filter(lambda x: len(x) % 2 != 0, my_tuple))

# Print all results
print(new_tuple)
print(new_list)
print(odd_length_tuple)

(('apple', 0), ('banana', 1), ('cherry', 2), ('date', 3), ('elderberry', 4))
[('a', 0), ('b', 1), ('c', 2), ('d', 3), ('e', 4)]
('apple',)

In [10]:
#7.You have a list of tuples, where each tuple contains a person's name and their birth year. For example: people = [('Alice', 1980), ('Bob', 1975), ('Charlie', 1990), ('David', 1985)]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with the birth years replaced by the person's age (as of the current year).
from datetime import date

def replace_birth_year_with_age(people):
    # Get current year
    current_year = date.today().year
    
    # Calculate age for each person and create new tuple
    new_people = [(name, current_year - birth_year) for name, birth_year in people]
    
    return new_people

# Example usage
people = [('Alice', 1980), ('Bob', 1975), ('Charlie', 1990), ('David', 1985)]
new_people = replace_birth_year_with_age(people)
print(new_people)

[('Alice', 43), ('Bob', 48), ('Charlie', 33), ('David', 38)]

In [13]:
#8.You are given a list of tuples, where each tuple contains the name of a city and its population. For example: cities = [('New York', 8000000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000), ('Phoenix', 1600000)]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but sorted by population (in descending order).
def sort_cities_by_population(cities):
    # Sort cities by population (in descending order)
    sorted_cities = sorted(cities, key=lambda x: x[1], reverse=True)
    
    return sorted_cities

# Example usage
cities = [('New York', 8000000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000), ('Phoenix', 1600000)]
sorted_cities = sort_cities_by_population(cities)
print(sorted_cities)

[('New York', 8000000), ('Los Angeles', 4000000), ('Chicago', 2700000), ('Houston', 2300000), ('Phoenix', 1600000)]

In [12]:
#9.You are given a list of tuples, where each tuple contains a person's name and a list of their grades. For example: students = [('Alice', [85, 90, 95]), ('Bob', [75, 80, 85]), ('Charlie', [90, 95, 100]), ('David', [80, 85, 90])]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with an additional element in each tuple that contains the person's average grade.
def add_average_grade(students):
    # Calculate average grade for each student and add to tuple
    new_students = [(name, grades, sum(grades)/len(grades)) for name, grades in students]
    
    return new_students

# Example usage
students = [('Alice', [85, 90, 95]), ('Bob', [75, 80, 85]), ('Charlie', [90, 95, 100]), ('David', [80, 85, 90])]
new_students = add_average_grade(students)
print(new_students)

[('Alice', [85, 90, 95], 90.0), ('Bob', [75, 80, 85], 80.0), ('Charlie', [90, 95, 100], 95.0), ('David', [80, 85, 90], 85.0)]

In [17]:
#10.You are given a list of tuples, where each tuple contains the name of a company and its stock price for each day of a given week. For example: companies = [('Apple', [142, 141, 144, 142, 141]), ('Microsoft', [246, 245, 247, 248, 245]), ('Amazon', [3270, 3255, 3265, 3250, 3275])]. Write a function that takes this list of tuples as input and returns a new list of tuples containing the same information, but with an additional element in each tuple that contains the average stock price for the week.

def add_average_stock_price(companies):
    new_companies = []
    for company in companies:
        name = company[0]
        prices = company[1]
        avg_price = sum(prices) / len(prices)
        new_companies.append((name, prices, avg_price))
    return new_companies

companies = [('Apple', [142, 141, 144, 142, 141]), ('Microsoft', [246, 245, 247, 248, 245]), ('Amazon', [3270, 3255, 3265, 3250, 3275])]
new_companies = add_average_stock_price(companies)
print(new_companies)

[('Apple', [142, 141, 144, 142, 141], 142.0), ('Microsoft', [246, 245, 247, 248, 245], 246.2), ('Amazon', [3270, 3255, 3265, 3250, 3275], 3263.0)]

This will apply the add_average_stock_price function to the companies list of tuples, and return a new list of tuples with the average stock price added to each tuple. The output will print the new list of tuples.

### 11.
You are given a list of tuples, where each tuple contains the name of a country and its capital city. For example: countries = [('United States', 'Washington, D.C.'), ('Canada', 'Ottawa'), ('Mexico', 'Mexico City'), ('Brazil', 'Brasília'), ('Argentina', 'Buenos Aires')]. Write a function that takes this list of tuples as input and returns a dictionary where the keys are the names of the countries and the values are the names of the capital cities.

In [19]:
def make_country_capital_dict(countries):
    country_capital_dict = {}
    for country, capital in countries:
        country_capital_dict[country] = capital
    return country_capital_dict

countries = [('United States', 'Washington, D.C.'), ('Canada', 'Ottawa'), ('Mexico', 'Mexico City'), ('Brazil', 'Brasília'), ('Argentina', 'Buenos Aires')]

country_capital_dict = make_country_capital_dict(countries)

print(country_capital_dict)

{'United States': 'Washington, D.C.', 'Canada': 'Ottawa', 'Mexico': 'Mexico City', 'Brazil': 'Brasília', 'Argentina': 'Buenos Aires'}