## Python Data Structures and Boolean 

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Variables

Boolean values are the two constant objects False and True. 

They are used to represent truth values (other values can also be considered
false or true). 

In numeric contexts (for example, when used as the argument to an
arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean,
if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [3]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [8]:
my_str='Krish123'

In [10]:
my_str.istitle()

True

In [11]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
False
False
True
False
False
False
False
True

### Boolean and Logical Operators

In [10]:
True and True

True

In [11]:
True and False

False

In [12]:
True or False

True

In [13]:
True or True

True

In [13]:
str_example='Hello World'
my_str='Krish'

In [14]:
my_str.isalpha() or str_example.isnum()

True

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [15]:
type([])

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [16]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]

In [18]:
len(lst)

6

In [17]:
type(lst)

list

### Append

In [19]:
#.append is used to add elements in the list
lst.append("Krish")

In [27]:
lst.append(["John","Bala"])

In [28]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Krish', ['John', 'Bala']]

In [23]:
##Indexing in List
lst[6]

'Krish'

In [26]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [29]:
## insert in a specific order

lst.insert(2,"Naik")

In [30]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala']]

In [31]:
lst.append(["Hello","World"])

In [32]:
lst

['Mathematics',
 'chemistry',
 'Naik',
 100,
 200,
 300,
 204,
 'Krish',
 ['John', 'Bala'],
 ['Hello', 'World']]

In [30]:
lst=[1,2,3]

In [31]:
lst.append([4,5])

In [32]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [33]:
lst=[1,2,3,4,5,6]

In [34]:
lst.extend([8,9])

In [35]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various Operations that we can perform in List

In [46]:
lst=[1,2,3,4,5]

In [42]:
sum(lst)

15

In [48]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [37]:
lst.pop()

5

In [38]:
lst

[1, 2, 3, 4]

In [39]:
lst.pop(0)

1

In [40]:
lst

[2, 3, 4]

### count():Calculates total occurrence of given element of List

In [41]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [49]:
#length:Calculates total length of List
len(lst)

6

In [44]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [45]:
##Min and Max
min(lst)

1

In [57]:
max(lst)

5

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [88]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [49]:
set_var={1,2,3,4,3}

In [50]:
set_var

{1, 2, 3, 4}

In [55]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [56]:
## Inbuilt function in sets

set_var.add("Hulk")

In [ ]:
.

In [57]:
print(set_var)

{'IronMan', 'Hitman', 'Avengers', 'Hulk'}

In [63]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [65]:
set2.intersection_update(set1)

In [66]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [59]:
##Difference 
set2.difference(set1)

{'Hulk2'}

In [60]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [61]:
## Difference update

set2.difference_update(set1)

In [62]:
print(set2)

{'Hulk2'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [59]:
dic={}

In [60]:
type(dic)

dict

In [70]:
type(dict())

dict

In [68]:
set_ex={1,2,3,4,5}

In [69]:
type(set_ex)

set

In [72]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [64]:
type(my_dict)

dict

In [73]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [66]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [68]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [69]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [74]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [75]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [76]:
my_dict['Car1']='MAruti'

In [77]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [76]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [77]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [80]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [81]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [101]:
## create an empty Tuples

my_tuple=tuple()

In [102]:
type(my_tuple)

tuple

In [103]:
my_tuple=()

In [104]:
type(my_tuple)

tuple

In [78]:
my_tuple=("Krish","Ankur","John")

In [81]:
my_tuple=('Hello','World')

In [82]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [107]:
type(my_tuple)

tuple

In [110]:
## Inbuilt function
my_tuple.count('Krish')

1

In [117]:
my_tuple.index('Ankur')

1

In [4]:
#Lists:
#Create a list of integers from 1 to 10 and print it
lt=[]
for i in range(1,11):
    lt.append(i)
    
print(lt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#Lists:
#Use the append() method to add the number 11 to the end of the list
lt.append(11)
lt

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
#Use the insert() method to insert the number 0 at the beginning of the list
lt.insert(0,0)
lt

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [7]:
#Use the remove() method to remove the number 5 from the list
lt.remove(5)
lt

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

In [9]:
#Use the pop() method to remove the last element of the list and print it
lt.pop()
lt

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [10]:
#Use the index() method to find the index of the number 7 in the list
lt.index(7)

6

In [13]:
#Use the slicing notation to print the 3rd to 5th elements of the list
lt[3:6]

[3, 4, 6]

In [14]:
lt[:6]

[0, 1, 2, 3, 4, 6]

In [15]:
lt[3:]

[3, 4, 6, 7, 8, 9, 10]

In [16]:
lt[3::6]

[3, 10]

In [19]:
#Lists and slicing:
#Create a list of integers from 1 to 10
#Use slicing to create a new list containing the second, third, and fourth elements of the original list
c=lt[2:5]
c

[2, 3, 4]

In [30]:
#Use slicing to create a new list containing the elements of the original list in reverse order
lt[::-1]

[10, 9, 8, 7, 6, 4, 3, 2, 1, 0]

In [34]:
#Use slicing to create a new list containing the last three elements of the original list
lt[-3::]

[8, 9, 10]

In [35]:
#Lists and loops:
#Create a list of strings and use a for loop to print each string in the list
strings = ['apple', 'banana', 'cherry']
for i in strings:
    print(i)

apple
banana
cherry

In [36]:
#Create a list of integers and use a for loop to print the square of each integer in the list and add to another list
b=[]
for i in lt:
    a=i*i
    b.append(a)
    
print(b)

[0, 1, 4, 9, 16, 36, 49, 64, 81, 100]

In [44]:
#Use a for loop to find the sum of the elements in the list [1, 3, 5, 7, 9]
a=[1, 3, 5, 7, 9]
#b=sum(a)
#b
b=0
for i in a:
    b+=i
    
print(b)

25

In [46]:
#Use a for loop to create a new list containing the squares of the elements in the list [1, 2, 3, 4, 5]
c=[]
for i in a:
   c.append(i*i)
print(c)

[1, 9, 25, 49, 81]

In [57]:
#Write a function that takes a list of numbers and returns a new list containing only the even numbers from the original list. 
#Use a for loop to iterate over the elements in the list and an if statement to check if each element is even.
b=[0, 1, 4, 9, 16, 36, 49, 64, 81, 100]
def ev_num(a):
    e=[]
    for i in a:
        if i%2==0:
            e.append(i)
    return e
    
print(ev_num(b))

[0, 4, 16, 36, 64, 100]

In [49]:
c

[1, 9, 25, 49, 81]

In [78]:
#Write a function that takes a list of strings and returns a new list containing 
#only the strings that have a length greater than 3. Use a for loop to iterate over the elements 
#in the list and an if statement to check the length of each string
def legnth_strings(a):
    g=[]
    for i in a:
        if len(i)>7:
            g.append(i)
    return g


h=['apple', 'banana', 'cherry', 'date', 'elderberry']

In [79]:
print(legnth_strings(h))

['elderberry']

In [81]:
#Write a function that takes a list of numbers and 
#returns a new list containing the squares of the even numbers in the original list. 
#Use a for loop to iterate over the elements in the list and append the square of each element to a new list.
def squared_list(a):
    h=[]
    for i in a:
        if i%2==0:
            h.append(i*i)
    return h

b=[0, 1, 4, 9, 16, 36, 49, 64, 81, 100]

print("list items before squaring ",b)
print("list of even items after squaring ",squared_list(b))

list items before squaring  [0, 1, 4, 9, 16, 36, 49, 64, 81, 100]
list items after squaring  [0, 16, 256, 1296, 4096, 10000]

In [86]:
#Write a function that takes a list of strings and returns a new list containing only the strings 
#that start with a vowel (a, e, i, o, u). Use a for loop to iterate over the elements in the list and an if statement 
#to check if the first letter of each string is a vowel.

def vowel(a):
    b=[]
    for i in a:
        if i[0] in "aeiouAEIOU" :
            b.append(i)
            
    return b


g=['apple','banana','cherry','date','elderberry']
print(vowel(g))

['apple', 'elderberry']

In [99]:
#Write a function that takes a list of numbers and returns the maximum value in the list. 
#Use a for loop to iterate over the elements in the list and 
#keep track of the maximum value seen so far using a variable.
def max_(a):
    c=0
    for i in a:
        if i>c :      
            c=i         
    return c

b=[0, 1, 4, 9, 16, 36, 49, 64, 81, 100]

print("list items ",b)
print("max number in the list",max_(b))

list items  [0, 1, 4, 9, 16, 36, 49, 64, 81, 100]
max number in the list 100

In [102]:
#Write a function that takes a list of numbers and
#returns a new list containing only the odd numbers from the original list. 
#Use a for loop to iterate over the elements in the list and an if statement to check if each element is odd.
def odd_li(a):
    c=[]
    for i in a:
        if i%2==1 :
            c.append(i)
            
    return c
            
b=[0, 1, 4, 9, 16, 36, 49, 64, 81, 100]

print("list items ",b)
print("odd numbers in the list",odd_li(b))

list items  [0, 1, 4, 9, 16, 36, 49, 64, 81, 100]
odd numbers in the list [1, 9, 49, 81]

In [ ]:
#Write a function that takes a list of strings and returns a new list containing only the strings 
#that have a length less than or equal to 3. Use a for loop to iterate over the elements in the list and
#an if statement to check the length of each string.

In [103]:
## map() function applies a specified function to each element of an iterable (such as a list) 
##and returns a new iterable with the modified elements. For example:

def multiply_by_two(x):
    return x * 2

my_list = [1, 2, 3, 4, 5]
new_list = map(multiply_by_two, my_list)
print(list(new_list))  # prints [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [104]:
#The map() function can be useful for applying a transformation to each element of a list without using a loop.

#A lambda function is a small anonymous function without a name. It can be used in place of a regular function definition in situations where you only need to use the function once.
#For example, you can use a lambda function with the map() function as follows:
my_list = [1, 2, 3, 4, 5]
new_list = map(lambda x: x * 2, my_list)
print(list(new_list))  # prints [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

### In Python, a list comprehension is a concise way to create a new list from an existing list or iterable.

It consists of square brackets containing an expression followed by a "for" clause, then zero or more for or "if" clauses.



Example 1: Creating a new list of squares from an existing list of numbers

In [105]:
numbers = [1, 2, 3, 4, 5]
squares = [x ** 2 for x in numbers]
print(squares)  # prints [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [106]:
#Example 2: Creating a new list of even numbers from an existing list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)  # prints [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [107]:
#Example 3: Creating a new list of strings with the first letter capitalized from an existing list of strings
words = ['apple', 'banana', 'cherry']
capitalized_words = [word.capitalize() for word in words]
print(capitalized_words)  # prints ['Apple', 'Banana', 'Cherry']

['Apple', 'Banana', 'Cherry']

In [108]:
#Example 4: Creating a new list of tuples containing the element and its square from an existing list of numbers
numbers = [1, 2, 3, 4, 5]
number_squares = [(x, x ** 2) for x in numbers]
print(number_squares)  # prints [(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [109]:
#Example 5: Creating a new list of dictionaries containing the element and its square from an existing list of numbers
numbers = [1, 2, 3, 4, 5]
number_squares = [{'number': x, 'square': x ** 2} for x in numbers]
print(number_squares)  # prints [{'number': 1, 'square': 1}, {'number': 2, 'square': 4}, {'number': 3, 'square': 9}, {'number': 4, 'square': 16}, {'number': 5, 'square': 25}]

[{'number': 1, 'square': 1}, {'number': 2, 'square': 4}, {'number': 3, 'square': 9}, {'number': 4, 'square': 16}, {'number': 5, 'square': 25}]

In [110]:
#Example 6: Creating a new list of the common elements between two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = [x for x in list1 if x in list2]
print(common_elements)  # prints [3, 4, 5]

[3, 4, 5]

In [112]:
#Given a list of numbers, create a new list containing the squares of the numbers.
#Input: [1, 2, 3, 4, 5] #Output: [1, 4, 9, 16, 25]
a=[1, 2, 3, 4, 5]
b=[x**2 for x in a]
print(b)

[1, 4, 9, 16, 25]

In [113]:
#Given a list of words, create a new list containing the length of each word.
#Input: ['apple', 'banana', 'cherry']   #Output: [5, 6, 6]
a=['apple', 'banana', 'cherry']
b=[len(x) for x in a]
print(b)

[5, 6, 6]

In [114]:
#Given a list of strings, create a new list containing only the strings that start with the letter 'a'.
#Input: ['apple', 'banana', 'apricot', 'cherry'] #Output: ['apple', 'apricot']
a=['apple', 'banana', 'apricot', 'cherry']
b=[x for x in a if x[0]=="a"]
print(b)

['apple', 'apricot']

In [115]:
#Given a list of numbers, create a new list containing only the even numbers.
#Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #Output: [2, 4, 6, 8, 10]
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[x for x in a if x%2==0]
print(b)

[2, 4, 6, 8, 10]

In [119]:
#Given a list of strings, create a new list containing the strings with the first letter capitalized.
#Input: ['apple', 'banana', 'cherry']
#Output: ['Apple', 'Banana', 'Cherry']

a=['apple', 'banana', 'cherry']
b=[x.capitalize() for x in a ]
print(b)

['Apple', 'Banana', 'Cherry']

In [120]:
#Given two lists of numbers, create a new list containing the common elements between the two lists.
#Input: [1, 2, 3, 4, 5] and [3, 4, 5, 6, 7]
#Output: [3, 4, 5]
a=[1, 2, 3, 4, 5]
c=[3, 4, 5, 6, 7]
b=[x for x in a if x in c]
print(b)

[3, 4, 5]

In [130]:
#Given a list of tuples, create a new list containing only the tuples that have a certain property (e.g. the first element is even).
#Input: [(1, 'a'), (2, 'b'), (3, 'c'), (4,d)]
tuples = [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
filtered_tuples = [(x, y) for (x, y) in tuples if x % 2 == 0]
print(filtered_tuples)  # prints [(2, 'b'), (4, 'd')]

[(2, 'b'), (4, 'd')]

In [124]:
#Task 1: Given a list of numbers, create a new list containing only the odd numbers.
#Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Output: [1, 3, 5, 7, 9]

a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[x for x in a if x%2==1]
print(b)

[1, 3, 5, 7, 9]

In [126]:
#Task 2: Given a list of words, create a new list containing only the words that have more than 4 letters.
#Input: ['apple', 'banana', 'cherry', 'date']
#Output: ['apple', 'banana', 'cherry']
a=['apple', 'banana', 'cherry', 'date']
b=[x for x in a if len(x)>4]
print(b)

['apple', 'banana', 'cherry']

In [129]:
#Task 3: Given a list of strings, create a new list containing the strings with the first and last letters switched.
#Input: ['apple', 'banana', 'cherry']
#Output: ['elppa', 'ananab', 'yrrehc']

strings = ['apple', 'banana', 'cherry']
switched_strings = [string[-1] + string[1:-1] + string[0] for string in strings]
print(switched_strings)  # prints ['elppa', 'ananab', 'yrrehc']

['eppla', 'aananb', 'yherrc']

In [ ]:
Task 5: Given a list of dictionaries, create a new list containing the values of a certain key in each dictionary.
Input: `[{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}, {'name': 'Charlie', 'age': 35

In [ ]:
Task 4: Given a list of tuples, create a new list containing the second element of each tuple.

Input: [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

Output: ['a', 'b', 'c', 'd']

## Map() Function
### map() function applies a given function to each element of an iterable (such as a list, tuple, or string) and returns a map object with the results. 

## lambda Function
## The lambda function is a small anonymous function without a name, which can take any number of arguments but can only have one expression.

Here are some examples of using map() and lambda functions in Python:

Example 1: Using map() and lambda to apply a function to a list of numbers

In [1]:
numbers = [1, 2, 3, 4, 5]

# Define a function that takes a number as argument and returns its square
def square(x):
    return x ** 2

# Use map() and lambda to apply the square function to the list of numbers
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)  # prints [1, 4, 9, 16, 25]

# You can also use the function defined earlier with map()
squared_numbers = list(map(square, numbers))
print(squared_numbers)  # prints [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [2]:
##Example 2: Using map() and lambda to apply a function to a list of strings

words = ['apple', 'banana', 'cherry']

# Use map() and lambda to apply the len() function to the list of words
word_lengths = list(map(lambda x: len(x), words))
print(word_lengths)  # prints [5, 6, 6]

[5, 6, 6]

In [21]:
#Task 3: Given a list of numbers, create a new list containing only the even numbers using map() and lambda.
#Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Output: [2, 4, 6, 8, 10]
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def even(c):
    d=[]
    for i in c:
        if i%2==0:
            d.append(i)
    return d
        

even(a)

#or
##Importatnt
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)  # prints [2, 4, 6, 8, 10]
print(even(a))

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [23]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))  ###using filter method
print(even_numbers)  # prints [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [42]:
#Task 1: Given a list of numbers, create a new list containing the squares of the numbers using map().
#Input: [1, 2, 3, 4, 5]  #Output: [1, 4, 9, 16, 25]


a=[1, 2, 3, 4, 5]

###Using Map()  Function
def quare(b):
    return b**2

b=list(map(quare,a))
print(b)

#or Using List Comprehension

c=[i**2 for i in a]
print(c)

##or Using lambda function

d=list(lambda i:i**2 for i in a)
print(d)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[<function <genexpr>.<lambda> at 0x000002E41276EE50>, <function <genexpr>.<lambda> at 0x000002E41276EB80>, <function <genexpr>.<lambda> at 0x000002E41276EEE0>, <function <genexpr>.<lambda> at 0x000002E41276EF70>, <function <genexpr>.<lambda> at 0x000002E412786040>]

In [ ]:
#Task 2: Given two lists of numbers, create a new list containing the common elements between the two lists.
#Input: [1, 2, 3, 4, 5], [3, 4, 5, 6, 7]
#Output: [3, 4, 5]

In [43]:
#Task 1: Given a list of numbers, create a new list containing the squares of the numbers using map().
#Input: [1, 2, 3, 4, 5]
#Output: [1, 4, 9, 16, 25]
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x ** 2, numbers))
print(squares)  # prints [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [44]:
#Task 2: Given a list of strings, create a new list containing the lengths of the strings using map().
#Input: ['apple', 'banana', 'cherry']
#Output: [5, 6, 6]
a=['apple', 'banana', 'cherry']
squares = list(map(lambda x: len(x), a))
print(squares)

[5, 6, 6]

In [45]:
# Use map() and a lambda function to compute the squares of the even numbers in a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squares = [x ** 2 for x in map(lambda x: x, filter(lambda x: x % 2 == 0, numbers))]
print(squares)  # prints [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]

In [ ]:
Task 1: Given a list of strings, create a new list containing only the strings that are palindromes (i.e. the strings read the same forwards and backwards).

Input: ['radar', 'hello', 'racecar', 'level']
Output: ['radar', 'racecar', 'level']

In [52]:
##Task 2: Given a list of numbers, create a new list containing only the even numbers that are divisible by 3.
#Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Output: [6]
# Solution using list comprehension and filter()
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = [x for x in filter(lambda x: x % 2 == 0, numbers) if x % 3 == 0]

print(evens)  # prints [6]

[6]

In [56]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = [x for x in filter(lambda x:x%2==0 ,numbers) if x%3==0]

print(evens)  # prints [6]

[6]

In [57]:
#Task 2: Given a list of numbers, create a new list containing the squares of the even numbers.

#Input: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#Output: [4, 16, 36, 64, 100]
    # Solution using map() and a lambda function
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_squares = list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))
print(even_squares)  # prints [4, 16, 36, 64, 100]

[4, 16, 36, 64, 100]

In [ ]:
Dictionaries:
Create a dictionary with the following key-value pairs: 
Print the value associated with the "name" key
Use the update() method to add the key-value pair "job": "software developer" to the dictionary
Use a for loop to print all the key-value pairs in the dictionary
Use the pop() method to remove the key-value pair with the key "age" and print the value associated with it
Tuples:
Create a tuple with the following elements: 1, "a", True
Use the count() method to count the number of times the element "a" appears in the tuple
Use the index() method to find the index of the element True in the tuple
I hope these exercises help you practice working with lists, dictionaries, and tuples in Python! If you have any questions or want more practice problems, don't hesitate to ask.

In [62]:
dict={"name": "John", "age": 30, "city": "New York"}
print(dict.keys())
print(dict.values())

dict_keys(['name', 'age', 'city'])
dict_values(['John', 30, 'New York'])

In [69]:
# Create a dictionary
person = {'name': 'John', 'age': 30, 'city': 'New York'}

# Modify values using keys
person['name'] = 'Jane'
person['age'] = 35
person['city'] = 'Los Angeles'

print(person)  # prints {'name': 'Jane', 'age': 35, 'city': 'Los Angeles'}

{'name': 'Jane', 'age': 35, 'city': 'Los Angeles'}

In [71]:
# Create a dictionary
person = {'name': 'John', 'age': 30, 'city': 'New York'}

# Access values using keys
print(person['name'])  # prints 'John'
print(person['age'])   # prints 30
print(person['city'])  # prints 'New York'

John
30
New York

In [72]:
# Create a dictionary
person = {'name': 'John', 'age': 30, 'city': 'New York'}

# Add a new key-value pair
person['country'] = 'United States'

print(person)  # prints {'name': 'John', 'age': 30, 'city': 'New York', 'country': 'United States'}

{'name': 'John', 'age': 30, 'city': 'New York', 'country': 'United States'}

In [73]:
# Remove an element
del person['city']
print(person)  # prints {'name': 'John', 'age': 35, 'country': 'United States'}

{'name': 'John', 'age': 30, 'country': 'United States'}

In [74]:
# Loop through a dictionary
for key in person:
    print(key, ':', person[key])
# prints:
# name : John
# age : 35
# country : United States

name : John
age : 30
country : United States

In [80]:
#Task 2: Given a dictionary of student names and grades, create a new dictionary
#containing the average grade for each student.
#Input: {'Alice': [80, 90, 70], 'Bob': [60, 70, 80], 'Charlie': [50, 60, 90]}
#Output: {'Alice': 80, 'Bob': 70, 'Charlie': 60}


a={'Alice': [80, 90, 70], 'Bob': [60, 70, 80], 'Charlie': [50, 60, 90]}

b=list(a.values())
b

[[80, 90, 70], [60, 70, 80], [50, 60, 90]]

In [79]:
# Solution using a dictionary comprehension
students = {'Alice': [80, 90, 70], 'Bob': [60, 70, 80], 'Charlie': [50, 60, 90]}
average_grades = {name: sum(grades) / len(grades) for name, grades in students.items()}
print(average_grades)  # prints {'Alice': 80.0, 'Bob': 70.0, 'Charlie': 60.0}

{'Alice': 80.0, 'Bob': 70.0, 'Charlie': 66.66666666666667}

Task 3: Given a dictionary of prices for different products, create a new dictionary containing the discounted prices (with a 10% discount).

Input: {'apple': 1.50, 'banana': 0.75, 'cherry': 2.50}
    
Output: {'apple': 1.35, 'banana': 0.68, 'cherry': 2.25}

In [82]:
# Solution using a dictionary comprehension
prices = {'apple': 1.50, 'banana': 0.75, 'cherry': 2.50}
discounted_prices = {product: price * 0.9 for product, price in prices.items()}
print(discounted_prices)  # prints {'apple': 1.35, 'banana': 0.68, 'cherry': 2.25}

{'apple': 1.35, 'banana': 0.675, 'cherry': 2.25}

In [81]:
prices = {'apple': 1.50, 'banana': 0.75, 'cherry': 2.50}
discounted_prices = {x: y* 0.9 for x, y in prices.items()}
print(discounted_prices)  # prints {'apple': 1.35, 'banana': 0.68, 'cherry': 2.25}

{'apple': 1.35, 'banana': 0.675, 'cherry': 2.25}

Task 4: Given a list of dictionaries, create a new list containing only the dictionaries with a certain property (e.g. the 'age' key is greater than 30).

Input: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]
    
Output: [{'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]

In [88]:
a= [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]
a[0]["age"]

25

In [89]:
# Solution using a list comprehension
people = [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]
older_people = [person for person in people if person['age'] > 30]
print(older_people)  # prints [{'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]

[{'name': 'Bob', 'age': 35}, {'name': 'Charlie', 'age': 45}]

In [90]:
name = 'Alice'
age = 25
print(f'{name} is {age} years old.')

Alice is 25 years old.

In [91]:
x = 1
y = 2
print(x, y)

1 2

## Print Statement

In [92]:
name = 'Alice'
age = 25

# Using the print function with string formatting
print(f'{name} is {age} years old.')

# Using the % operator
print('%s is %d years old.' % (name, age))

# Using the str.format method
print('{} is {} years old.'.format(name, age))

# Using f-strings
print(f'{name} is {age} years old.')

Alice is 25 years old.
Alice is 25 years old.
Alice is 25 years old.
Alice is 25 years old.